<div class="card mt-4">
    <div class="card">
        <div class="card-header">
            User info
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Likes
                        </th>
                        <th>Dislikes</th>
                        <th>
                            </th>
                            <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in playersCtrl.players">
                        <td>{{player.name|capitalize}}</td>
                        <td>{{player.gender}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.likes}}</td>
                        <td>{{player.dislikes}}</td>
                        <td><button class="btn btn-info" ng-click="playersCtrl.like(player)">Like</button></td>
                        <td><button class="btn btn-danger" ng-click="playersCtrl.dislike(player)">Dislike</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>